<% if(!post.customize) { %>
<div id="container">
  <% } %>
  <div class="card" style="margin-bottom: 10px">
    <% if (has_thumbnail(post)) { %>
    <div class="card-image">
      <%- index ? '<a href="' + url_for(post.link ? post.link : post.path) + '"' : '<span ' %> class="image is-7by1">
      <img class="thumbnail" src="<%= get_thumbnail(post) %>" alt="<%= post.title %>">
      <%- index ? '</a>' : '</span>' %>
    </div>
    <% } %>
    <div class="card-content article <%= post.hasOwnProperty('direction') ? post.direction : '' %>">
      <!--文章标题-->
      <% if (post.layout != 'page') { %>
      <h1 class="title is-size-3 is-size-4-mobile has-text-weight-normal">
        <% if (index) { %>
        <a class="has-link-black-ter" href="<%- url_for(post.link ? post.link : post.path) %>"><%= post.title %></a>
        <% } else { %>
        <span class="article_title"><%= post.title %></span>
        <% } %>
      </h1>
      <!--完全自定义页面显示的访问次数-->
      <% if(post.customize) { %>
      被访问<span id="busuanzi_value_page_pv" style="color: #ff7300;font-weight: bold">0</span>次
      <% } %>
      <% if(!post.customize) { %>
      <div class="level article-meta is-mobile is-overflow-x-auto" style="font-size: 15px">
        <div class="level-left">
          <!--文章类型-->
          <% if(post.article_type) {%>
          <% if(post.article_type =='转载') { %>
          <span
            style="float: left;padding: 1px 2px 1px 2px;margin-right: 5px;background-color: #a9800a;color: white;text-align: center;border-radius:0.25em;font-size: 14px">
            <%= post.article_type %></span>
          <% } %>
          <% if(post.article_type =='原创') { %>
          <span
            style="float: left;padding: 1px 2px 1px 2px;margin-right: 5px;background-color: #5cb85c;color: white;text-align: center;border-radius:0.25em;font-size: 14px">
            <%= post.article_type %></span>
          <% } %>
          <% } %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <!--发布时间-->
          <img src="/images/date_time.png" style="width: 25px;" title="发布时间"/>
          &nbsp;
          <span class="article-meta-element"><%= date(post.date) %></span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <!--作者-->
          <img src="/images/author.svg" style="width: 23px" title="文章作者"/>

          <span class="article-meta-element"><%= post.article_author %></span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <!--目录列表-->
          <% if (post.categories && post.categories.length) { %>
          <img src="/images/categories.svg" style="width: 20px;" title="文章所属目录列表"/>
          &nbsp;
          <div class="level-item article-meta-element">
            <!--读取config.yml文件内的目录配置-->
            <% const categories = get_config('article.categories'); %>
            <% post.categories.forEach(pc=>{ %>
              <% categories.forEach(c=> { %>
                <% if(pc.name == c.name) { %>
                  <!--跳转文章目录地址-->
                  <a class="category-link" href="<%= c.uri %>"><%= pc.name %></a>&nbsp;
                <% } %>
              <% }) %>
            <% }) %>
          </div>
          <% } %>
          <!--不蒜子统计阅读量-->
          <!--<% if (!index && (has_config('plugins.busuanzi') ? get_config('plugins.busuanzi') : false)) { %>
          <span class="level-item has-text-grey" id="busuanzi_container_page_pv">
            &lt;!&ndash; <i class="far fa-eye"></i> &ndash;&gt;
            被访问<span id="busuanzi_value_page_pv" style="color: #ff7300;font-weight: bold">0</span>次
          </span>
          <% } %>-->
        </div>
      </div>
      <% } %>
      <% } %>
      <!--推荐阅读 - 新闻-->
      <% if(!index && get_config('include.news.enable')) { %>
      <% if(!index && post.news) {%>
      <div style="height: 50px;padding-top: 10px;vertical-align: middle;">
        <a href="<%= get_config('include.news.url')%>" target="_blank"><%= get_config('include.news.title') %></a>
      </div>
      <% } %>
      <% } %>
      <!--文章内容-->
      <div class="content">
        <%- index && post.excerpt ? post.excerpt : post.content %>
        <% if(!post.customize) { %>
        <!--原创-->
        <% if(!index && post.article_type =='原创') { %>
        <div class="alert alert-success">
          <p>本文由<a href="https://blog.yuqiyu.com"><%= get_config('author') %></a>编写，遵循<a
              href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC 4.0
              BY-SA</a>版权协议，转载请注明文章出处，如需公众号转载，请联系「<a href="/images/hengboy-wx.jpeg" target="_blank">微信</a>」</p>
        </div>
        <% } %>
        <!--转载标注-->
        <% if(!index && post.article_type =='转载') { %>
        <div class="alert alert-success">
          本文作者：<%= post.article_author %><br>
          原文链接：<a href="<%= post.article_url %>" target="_blank"><%= post.article_url %></a><br>
          <b>版权归作者所有，转载请注明出处</b>
        </div>
        <% } %>
        <% } %>
      </div>
      <!--文章标签-->
      <% if (!index && post.tags && post.tags.length && !post.customize) { %>
      <div class="level is-size-7">
        <div class="level-start">
          <div class="level-item">
            <span class="is-size-6 has-text-grey has-mr-7">文章标签：</span>
            <%- list_tags(post.tags, {
                        class: 'has-link-grey',
                        show_count: false,
                        style: 'link'
                    }) %>
          </div>
        </div>
      </div>
      <% } %>
      <% if (index && post.excerpt) { %>
      <div class="level is-mobile">
        <div class="level-start">
          <div class="level-item">
            <a class="button is-size-7 is-light" href="<%- url_for(post.path) %>#more"><%= __('article.more') %></a>
          </div>
        </div>
      </div>
      <% } %>
      <% if (!index && has_config('share.type')) { %>
      <%- partial('share/' + get_config('share.type')) %>
      <% } %>
    </div>
  </div>

  <% const services = has_config('donate') ? get_config('donate') : []; %>
  <% if (!index && services.length > 0) { %>
  <div class="card">
    <div class="card-content">
      <h3 class="menu-label has-text-centered"><%= __('donate.title') %></h3>
      <div class="buttons is-centered">
        <% for (let service of services) {
                const type = get_config_from_obj(service, 'type');
                if (type !== null) { %>
        <%- partial('donate/' + type, { type, service }) %>
        <% }
            } %>
      </div>
    </div>
  </div>
  <% } %>

  <% if (!index && (post.prev || post.next) && !post.customize) { %>
  <div class="card card-transparent">
    <div class="level post-navigation is-flex-wrap is-mobile">
      <!--上一篇-->
      <% if (post.prev){ %>
      <div class="level-start">
        <a class="level level-item has-link-grey <%= !post.prev ? 'is-hidden-mobile' : '' %> article-nav-prev"
          href="<%- url_for(post.prev.path) %>">
          <i class="level-item fas fa-chevron-left"></i>
          <span class="level-item">上一篇：<%= post.prev.title %></span>
        </a>
      </div>
      <% } %>
      <!--下一篇-->
      <% if (post.next){ %>
      <div class="level-end">
        <a class="level level-item has-link-grey <%= !post.next ? 'is-hidden-mobile' : '' %> article-nav-next"
          href="<%- url_for(post.next.path) %>">
          <span class="level-item">下一篇：<%= post.next.title %></span>
          <i class="level-item fas fa-chevron-right"></i>
        </a>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>
  <!--评论-->
  <% if (!index && post.enable_comment && has_config('comment.type')) { %>
  <div class="card">
    <div class="card-content">
      <h3 class="title is-5 has-text-weight-normal"><%= __('article.comments') %></h3>
      <%- partial('comment/' + get_config('comment.type')) %>
    </div>
  </div>
  <% } %>
  <% if(!post.customize) { %>
</div>
<% } %>
<script src="/js/readmore.js" type="text/javascript"></script>
<script>
  const btw = new BTWPlugin();
  btw.init({
    id: 'container',
    blogId: '10034-1569731208928-426',
    name: '恒宇少年',
    qrcode: 'https://blog.yuqiyu.com/images/mp.jpg',
    keyword: 'free',
  });
</script>

<!--<script src="/js/layui.js"></script>
<script>
  layui.use(['layer'], function () {
    var layer = layui.layer;
    var isShowOnce = localStorage.getItem('isShowHistory');
    if (!isShowOnce) {
      localStorage.setItem('isShowHistory',true);
      layer.open({
          type: 1
          ,title: false //不显示标题栏
          ,closeBtn: false
          ,area: '350px;'
          ,shade: 0.8
          ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
          ,btn: ['带朕去看看', '给朕退下']
          ,btnAlign: 'c'
          ,moveType: 1 //拖拽模式，0或者1
          ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-size:13px; font-weight: 300;">你知道吗？阿里云的采购季来了！！！<br/><br/>云产品低至<b>0.75折</b> </br></br>ECS服务器最低 <b>¥74.43</b>/年 ...<br><br>MySQL云数据库最低 <b>¥188</b>/年 ...<br><br>1.5万条的短信只需要 <b>¥540</b> <br/><br/>500G的CDN流量包更是优惠到极致了...</div>'
          ,success: function(layero){
            var btn = layero.find('.layui-layer-btn');
            btn.find('.layui-layer-btn0').attr({
              href: 'https://www.aliyun.com/minisite/goods?userCode=rqxni4zt&share_source=copy_link'
              ,target: '_blank'
            });
          }
        });
    }
  });
</script>-->
