<link rel="stylesheet" href="/css/layui.css" media="all">
<div class="layui-row">
  <!--<div class="layui-col-md13">-->
    <div class="layui-carousel" id="news">
      <div carousel-item>
        <div><a
            href="https://time.geekbang.org/course/intro/100023501?code=Bb0kYvkF8opyRcznUfl1msqTIMJ1AY-kgBEfuR9N4nw%3D"
            target="_blank"><img class="banner_img" src="/images/geek/玩转Spring全家桶-常规轮播图.jpeg" /></a></div>
        <div><a
          href="https://time.geekbang.org/column/intro/100021201?code=HQ8p4bnGHEU%2Fd4XnfdGYiu2eXpy2OBD6AYV0Z5DYde4%3D"
          target="_blank"><img class="banner_img" src="/images/geek/程序员的数学基础课-常规轮播图.jpeg" /></a></div>
        <div><a
          href="https://time.geekbang.org/course/intro/100030501?code=DJ%2FSr326dT4FeOdkfFGTpKhFq9x%2Foco6QrekC7UMy%2Fc%3D"
          target="_blank"><img class="banner_img" src="/images/geek/Elasticsearch核心技术与实战 - 常规轮播图.jpeg" /></a></div>
        <div><a
            href="https://time.geekbang.org/course/intro/100021601?code=lGmMVMitLgo2RtbKV8-WkI0OtJuejad-CxRffXMl%2F%2FU%3D"
            target="_blank"><img class="banner_img" src="/images/geek/玩转GIT三剑客-常规轮播图.jpeg" /></a></div>
        <div><a
            href="https://time.geekbang.org/column/intro/100006701?code=QAG8uio8HV6ccyx65AE4KSbC0xxgJ%2FhO35y%2F65MLnZM%3D"
            target="_blank"><img class="banner_img" src="/images/geek/Java核心技术36讲-常规轮播图.jpeg" /></a></div>
        <div><a
            href="https://time.geekbang.org/column/intro/100028001?code=5H-8QkCVGqmOeEczhh1sTOaHSs8n-dI847FwHbb31jw%3D"
            target="_blank"><img class="banner_img" src="/images/geek/Java 性能调优实战-常规轮播图.jpeg" /></a></div>

      </div>
    </div>
  <!--</div>-->
  <!--<div class="layui-col-md3">
    &lt;!&ndash; <div class="layui-card">
      <a href="http://tools.yuqiyu.com" target="_blank"><img src="/images/在线工具.png"/></a>
    </div> &ndash;&gt;
    <div class="layui-card">
      <a href="http://open.eureka.yuqiyu.com" target="_blank"><img src="/images/开放EurekaServer服务.png" /></a>
    </div>
    <div class="layui-card">
      <a href="http://open.nacos.yuqiyu.com/nacos" target="_blank"><img src="/images/Nacos开放服务.png" /></a>
    </div>
  </div>-->
</div>
<script src="/js/layui.js"></script>
<script>
  layui.use(['carousel', 'layer'], function () {
    var carousel = layui.carousel;
    var layer = layui.layer;

    /*var isShowOnce = sessionStorage.getItem('isShowOnce');
    if (!isShowOnce) {
      // 询问是否领取阿里云优惠券
      layer.confirm('<span style="color:red;font-weight:bold;">2021年阿里云新老用户同享优惠活动，个人最高立减300，企业最高立减1111</span>', {
        closeBtn:0,
        btn: ['带朕去看看'] //按钮
      }, function () {
        location.href = "https://www.aliyun.com/minisite/goods?taskPkg=1111ydsrwb&pkgSid=79463&recordId=1557442&userCode=rqxni4zt";
        sessionStorage.setItem('isShowOnce', true);
      });
    }*/
    //建造实例
    carousel.render({
      elem: '#news'
      , width: '100%' //设置容器宽度
      , height: '370px'
      , arrow: 'always' //始终显示箭头
      , indicator: 'none' //指示器不显示
      //,anim: 'updown' //切换动画方式
    });
  });
</script>
<!--SpringBoot & ApiBoot-->
<div class="layui-row layui-col-space15">
  <div class="layui-col-md6">
    <!--最新文章-->
    <div class="layui-card" id="index_card">
      <div class="layui-card-header" id="index_card_header">最新文章</div>
      <div class="layui-card-body" id="index_card_body">
        <% site.posts.filter(post=> !post.customize).sort('date', -1).limit(10).each(function(post){ %>
        <p class="p-overflow"><span class="card_date"><%= date(post.date) %>&nbsp;/&nbsp;</span><a
            href="/<%= post.id%>.html" target="_blank">
            <%= post.title%></a></p>
        <% }); %>
        <p style="text-align: right;font-size: 16px"><a href="/archives/" target="_blank">查看更多</a></p>
      </div>
    </div>
  </div>
  <div class="layui-col-md6">
    <div class="layui-card" id="index_card">
      <div class="layui-card-header" id="index_card_header">热门文章</div>
      <div class="layui-card-body" id="index_card_body">
        <% site.posts.filter(post=> post.hot).sort('date', -1).limit(11).each(function(post) {%>
        <!--热门-->
        <% if (post.hot) { %>
        <p class="p-overflow"><span class="card_date"><%= date(post.date) %>&nbsp;/&nbsp;</span><a
            href="/<%= post.id%>.html" target="_blank">
<!--            <img src="/images/hot.svg" style="width: 20px"/>-->
            <%= post.title%></a></p>
        <% } %>
        <% })%>
      </div>
    </div>
  </div>
</div>

<!--SpringBoot & ApiBoot-->
<div class="layui-row layui-col-space15">
  <div class="layui-col-md6">
    <div class="layui-card" id="index_card">
      <div class="layui-card-header" id="index_card_header">SpringBoot</div>
      <div class="layui-card-body" id="index_card_body">
        <% site.tags.findOne({name: 'SpringBoot'}).posts.filter(post=> !post.customize).sort('date', -1).limit(10).each(function(post) {%>
        <p class="p-overflow"><span class="card_date"><%= date(post.date) %>&nbsp;/&nbsp;</span><a
            href="/<%= post.id%>.html" target="_blank">
            <%= post.title%></a></p>
        <% })%>
        <p style="text-align: right;font-size: 16px"><a href="/spring-boot-all-articles.html" target="_blank">前往专题</a></p>
      </div>
    </div>
  </div>
  <div class="layui-col-md6">
    <div class="layui-card" id="index_card">
      <div class="layui-card-header" id="index_card_header">ApiBoot</div>
      <div class="layui-card-body" id="index_card_body">
        <% site.tags.findOne({name: 'ApiBoot'}).posts.filter(post=> !post.customize).sort('date', -1).limit(10).each(function(post) {%>
        <p class="p-overflow"><span class="card_date"><%= date(post.date) %>&nbsp;/&nbsp;</span><a
            href="/<%= post.id%>.html" target="_blank">
            <%= post.title%></a></p>
        <% })%>
        <p style="text-align: right;font-size: 16px"><a href="/apiboot-all-articles.html" target="_blank">前往专题</a></p>
      </div>
    </div>
  </div>
</div>

<!--SpringCloud & 技术杂谈-->
<div class="layui-row layui-col-space15">
  <div class="layui-col-md6">
    <div class="layui-card" id="index_card">
      <div class="layui-card-header" id="index_card_header">SpringCloud</div>
      <div class="layui-card-body" id="index_card_body">
        <% site.tags.findOne({name: 'SpringCloud'}).posts.filter(post=> !post.customize).sort('date', -1).limit(10).each(function(post) {%>
        <p class="p-overflow"><span class="card_date"><%= date(post.date) %>&nbsp;/&nbsp;</span><a
            href="/<%= post.id%>.html" target="_blank">
            <%= post.title%></a></p>
        <% })%>
        <p style="text-align: right;font-size: 16px"><a href="/spring-cloud-all-articles.html" target="_blank">前往专题</a></p>
      </div>
    </div>
  </div>
  <div class="layui-col-md6">
    <div class="layui-card" id="index_card">
      <div class="layui-card-header" id="index_card_header">技术杂谈</div>
      <div class="layui-card-body" id="index_card_body">
        <% site.tags.findOne({name: '技术杂谈'}).posts.sort('date', -1).limit(10).each(function(post) {%>
        <p class="p-overflow"><span class="card_date"><%= date(post.date) %>&nbsp;/&nbsp;</span><a
            href="/<%= post.id%>.html" target="_blank">
            <%= post.title%></a></p>
        <% })%>
        <p style="text-align: right;font-size: 16px"><a href="/technical-talk.html" target="_blank">前往专题</a></p>
      </div>
    </div>
  </div>
</div>
